.pdf-page {
  overflow: hidden;
  width: 794px;
  height: auto;
  margin: 0 auto;
  min-height: 1123px;
  padding: 40px;
  box-sizing: border-box;
  background: white;
  font-family: Arial;
  overflow: hidden;
  color: #0f172a;
  justify-content: center;
}

.pdf-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.pdf-header-left {
  width: 55%;
}

.pdf-logo {
  display: flex;
  align-items: center;
}


.pdf-logo img {
  width: 120px;
}

.pdf-logo h1 {
  font-size: 26px;
  margin: 0;
  color: #0b3c8c;
}

.pdf-title {
  margin-top: 10px;
}

.pdf-title h2 {
  font-size: 50px;
  line-height: 1.02;
  margin: 0;
  color: #0b2f6b;
}

.pdf-title span {
  font-size: 24px;
  color: #282828;
}

.pdf-side-card img {
  width: 40px;
  height: 40px;
}

.side-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.pdf-side-card {
  display: flex;
  flex-direction: column;
  width: 320px;
  background: #002f6c;
  color: white;
  padding: 30px;
  border-bottom-left-radius: 80px;
  gap: 30px;
  margin-left: auto;
}

.pdf-side-card p {
  margin: 0;
  font-size: 15px;
  line-height: 1.4;
}

.pdf-info {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.info-item {
  display: flex;
  flex: 1;
  align-items: center;
  border-left: #999999 solid 2px;
  padding-left: 20px;
  gap: 15px;
}

.info-item strong {
  display: block;
  color: #0b2f6b;
  margin-bottom: 5px;
}

.info-texto {
  display: flex;
  flex-direction: column;
}

.info-texto span {
  color: black;
}

.info-item img {
  width: 45px;
}

.pdf-btu-card {
  margin-top: 40px;
  background: linear-gradient(90deg, #003b8e, #01295f);
  border-radius: 20px;
  padding: 35px;
  color: white;
  width: 100%;
  max-width: 500px;
}

.btu-topo {
  display: flex;
  align-items: center;
  gap: 25px;
}

.icone-frio img {
  width: 90px;
  height: 90px;
}


.btu-textos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-left: 50px;
}

.btu-textos h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  white-space: nowrap;
}



.pdf-btu-card .numero {
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
}

.pdf-resumo {
  margin-top: 50px;
}

.pdf-resumo h3 {
  color: #0b2f6b;
}

.pdf-resumo hr {
  width: 100%;
  max-width: 550px;
  margin-left: 0;
  border: 2px solid #2563eb;
}

@page {
  margin: 0;
}